<ng-container>
  <div id="MenuPanel" class="nav-bg-color sidr left" [class.toggled]="showMenu">
    <div class="sidebar-wrapper">
      <ul class="c-menu-main">
        <li class="List-item"><a href="javascript:void(0)">所有商品</a>
          <ul>
            <li class="lvOne"><a href="/categories/refreshing-series">輕保養系列</a></li>
            <li class="lvOne"><a href="" onclick="return false">套組/禮盒</a>
              <ul>
                <li class="lvtwo"><a href="/categories/refreshing-series-kits">輕保養套組</a></li>
                <li class="lvtwo"><a href="/categories/refreshing-series-boxed-kits">輕保養禮盒</a></li>
              </ul>
            </li>
            <li class="lvOne"><a href="" onclick="return false">依商品分類</a>
              <ul>
                <li class="lvtwo"><a href="/categories/lip-balm">護唇膏</a> </li>
                <li class="lvtwo"><a href="/categories/facial-cleanse">洗面露</a> </li>
                <li class="lvtwo"><a href="/categories/lotion">化妝水</a> </li>
                <li class="lvtwo"><a href="/categories/essence">精華液</a> </li>
                <li class="lvtwo"><a href="/categories/facial-mask">面膜</a> </li>
                <li class="lvtwo"><a href="/categories/hand-cream">護手霜</a> </li>
                <li class="lvtwo"><a href="/categories/travel-pack">旅行組</a> </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="List-item"><a href="/about">關於SAWAA</a></li>
        <li class="List-item"><a href="/blog/posts">部落格</a></li>
        <li class="List-item"><a href="/pages/news">媒體報導</a></li>
        <li class="List-item"><a href="/pages/activity-announcement">活動公告</a></li>
        <li class="List-item"><a href="/pages/sales-channel">販售通路</a></li>
        <li class="List-item">
          <a class="MessageDialog-showButton sl-message-toggle ng-isolate-scope">聯絡我們</a>
        </li>
      </ul>
      <ul class="c-menu-bottom">
        <!-- Sign-in button -->
        <li class="List-item">
          <a href="https://www.sawaa.com.tw/users/sign_in">加入會員</a>
        </li>
        <li class="List-item">
          <a href="/users/sign_in">會員登入</a>
        </li>
        <li class="List-item App-currencyDropdown">
          <a class="Label sl-currency-menu-open"><span>$</span> <span>TWD</span></a>
        </li>
      </ul>
    </div>
  </div>
</ng-container>


